@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 550ms;

  background-color: #312e38;
  color: #f4ede8;
  text-decoration: none;
}

@media not all and (min-width: 640px) {
  button {
    width: 16.75rem;
  }

  input {
    width: 16.75rem;
  }
}
