@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  background-color: #312e38;
  color: #f4ede8;
}

button {
  width: 21.25rem;
  height: 3.5rem;
  border-radius: 1rem;

  background-color: #ff9000;
  color: #312e38;
  font-size: 1rem;
  font-weight: 500;
}

button:hover {
  background-color: #c97200;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}

span:hover {
  text-decoration: underline;
}

form span:hover {
  text-decoration: none;
}

input {
  width: 21.25rem;
  height: 3.5rem;

  background-color: #232129;
  color: #666360;
  border-radius: 1rem;
}

@media not all and (min-width: 640px) {
  button {
    width: 16.75rem;
  }

  input {
    width: 16.75rem;
  }
}
